.streamlit/secrets.toml
.venv
**/__pycache__/
**/.mypy_cache/

#
/files/input/loan.csv

# History files
.Rhistory
.Rapp.history
/reporte/renv/
/reporte/.Rprofile
/reporte/renv.lock

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
reporte/rsconnect/

# HTML output files
*.html

# PDF output files
*.pdf

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

install.sh
uninstall.sh
/rsconnect

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.spec

# Logs
*.log

# Test outputs
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.cache/
pytest_cache/

# MyPy and other tools
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# VSCode
.vscode/

# Credentials or temp configs
.env
.env.*
